body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden; /* Evitar scroll horizontal */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Asegurarse de que el contenedor no exceda el ancho disponible */
    max-height: 90vh; /* Ajuste de altura máxima */
    overflow-y: auto; /* Permitir scroll en el contenedor */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
}

label {
    font-size: 14px;
    color: #7f8c8d;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #333;
    cursor: pointer;
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"]::before {
    content: 'Seleccionar archivo';
    display: inline-block;
    background: #2980b9;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
}

button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #2ecc71;
}

#result {
    margin-top: 20px;
    font-size: 12px; /* Fuente más pequeña */
    color: #34495e;
}

#result ul {
    columns: 2; /* Mostrar en dos columnas */
    column-gap: 20px; /* Espacio entre columnas */
    padding: 0;
    list-style-type: none;
}

#result li {
    padding: 5px 0;
}
